/*SECTION 508*/
*:focus,
.usdt-focus,
.focus-outline:focus{
  outline: 2px dotted #aeb0b5;
  outline-offset: 3px;
}
[hidden] {
  display: none !important;
}
.sr-only {
  text-indent: -9999rem;
  position: absolute;
}