hr {
  margin: 2rem 0;
   border: 0;
   height: 1px;
   background: $color-gray-lighter;
}

.img-fluid
 {
   max-width: 100%;
   height: auto;
 }
// Tables
.usdt-table {
  text-align: left;
  margin: 1em 0;
  width: 100%;
  tbody tr {
    background-color: #fff;
    &:nth-child(odd) {
      background-color: $color-gray-lightest-lite;
    }
  }
  td {
    padding: .5rem 1rem;
    font-weight: 400;
  }
  th {
    padding: .5rem 1rem;
    font-weight: 700;
    a {
      text-decoration: none;
      color: $color-gray-dark;
      &:hover, &:focus {
        color: $color-primary;
        text-decoration: underline;
      }
    }
  }
}
.usdt-table-scroll-mobile {
  @media screen and (max-width: $medium-screen) {
    overflow-x: scroll;
    display: block;
    -webkit-overflow-scrolling: touch;
  }
}

// Accordion
.usdt-accordion,
.usdt-accordion-bordered {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
  color: $color-black-light;
  margin: 0;
  padding: 0;
  width: 100%;
  & > li {
    background-color: $color-gray-lightest;
    list-style: none;
    margin-bottom: 0.5rem;
    width: 100%;
  }
  .usdt-accordion-content {
    background-color: #ffffff;
    overflow: auto;
    padding: 1rem 1rem;
    &[aria-hidden="true"] {
      display: none;
    }
  }
  &.app-secondary {
    > li {
      @include box-shadow;
      background-color: #fff;
      margin-bottom: 2rem;
    }
    .usdt-accordion-button {
      background-color: #fff;
      border-color: transparent;
      color: $color-gray-dark;
      font-weight: 400;
      font-size: 1.5rem;
    }
    .usdt-accordion-content {
      padding: 1rem 0rem;
      margin-left:2rem;
      margin-right: 2rem;
      border-top: solid 1px $color-gray-lightest;
      @media screen and (max-width: 767px){
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }
}
.usdt-accordion-bordered {
  .usdt-accordion-content {
    border-bottom: 3px solid $color-gray-lightest;
    border-left: 3px solid $color-gray-lightest;
    border-right: 3px solid $color-gray-lightest;
  }
}
.usdt-accordion-button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: left;
  -webkit-font-smoothing: auto;
  background-color: $color-gray-lightest;
  background-image: url(../assets/img/minus.svg);
  background-position: right 2rem center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  color: $color-black-light;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin: 0;
  padding: 1.2rem 5.5rem 1.2rem 2rem;
  width: 100%;
  text-transform: none;
  letter-spacing: 0px;
  &:hover {
    background-color: $color-gray-lighter;
  }
  &[aria-expanded="false"] {
    background-image: url(../assets/img/plus.svg);
    background-repeat: no-repeat;
    background-size: 1.5rem;
  }
}
.usdt-option-menu {
  list-style-type: none;
  margin: 0;
  position: absolute;
  background: #fff;
  padding: 1rem;
  top: 50%;
  @include box-shadow;
  li {
    padding: .2rem;
  }
}

.usdt-hero {
  background: #fff;
  @media screen and (min-width: 1200px){
    padding-bottom:0px
  }
  h1 {
    font-size: 2.85rem;
    margin-top: 2rem;
    @media screen and (max-width: 1200px){
      font-size: 2.5rem;
      margin-top: 1.5rem;
    }
    @media screen and (max-width: 767px){
      font-size: 2rem;
      margin-top: 1rem;
    }
  }
} 

.usdt-user-info-card {
  padding: 30px 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  text-align: center;
  @media screen and (max-width: 767px){
    display: none;
  }
  .user-avatar {
    width: 72px;
    height: 72px;
    margin: 0 auto 10px;
    img {
      max-height: 72px;
      max-width: 72px;
    }
  }
  .user-name {
    font-family: $font-serif;
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 300;
    display: block;
  }
  .user-title {
    text-transform: uppercase;
    font-size: 0.74rem;
    font-weight: 300;
    letter-spacing: 0.09rem;
    margin-top: 8px;
  }
}
.usdt-app-logo {
  flex: 0 0 50%;
  @media screen and (min-width: $medium-screen){
    flex: 0 0 25%;
  }
}
.usdt-app-action-list {
  list-style: none;
  margin: 0;
  padding: 0;
  > li {
    display: flex;
    align-items: center;
    padding:0.5rem 1rem;
    line-height: 1.25;
    font-weight: 300;
    @media screen and (max-width:767px){
      display: block;
    }

    &:nth-child(odd){
      background-color: $color-gray-lightest-lite;
    }
  }
  .item-type-icon {
    margin-right: 0.75rem;
    font-size: 1.3rem;
    color: $color-cool-blue;
  }
  .action-icons {
    margin-left: auto;
    display: flex;
    padding-left: 1rem;
    @media screen and (max-width:767px){
      margin-top: 0.75rem;
      padding-left: 0;
    }
  }
}

.app-action-heading {
  margin-top: 2rem;
  padding-left: 1rem;
  font-size: 0.95rem;
}

.usdt-section-toggle {
  text-decoration: none;
  color: $color-black-light;
  .icon {
    margin-right: 0.5rem;
  }
  &[aria-expanded="false"] {
    .toggle-text:before{
      content: 'Show ';
      font-family: $font-sans;
    }
    .icon:before {
      content: "\e90a";
    }
  }
  &[aria-expanded="true"] .toggle-text:before{
    content: 'Hide ';
    font-family: $font-sans;
  }
}

.usdt-section-break {
  margin-top: 1rem;
  margin-bottom: 1rem;
}