input,
textarea,
select {
  appearance: none;
  border: 1px solid $color-gray;
  border-radius: 3rem;
  box-sizing: border-box;
  color: #212121;
  display: block;
  line-height: 1.3;
  margin: 0.2em 0;
  max-width: 46rem;
  padding: 0.6rem 0.7em;
  width: 100%;
  &:not([type="button"]):not([type="submit"]):focus {
    outline: none;
    box-shadow: 0px 0px 6px rgba(3, 169, 244, 1);
  }
  &.usdt-input-success {
    border: solid 2px $color-green;
  }
  &:disabled {
    background-color: $color-gray-lightest;
    pointer-events: none;
    color: $color-gray;
  }
}

textarea {
  border-radius: 0;
  height: 10rem;
}

label {
  display: block;
  margin-top: 1.5rem;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance:none;
  padding: .6rem 1rem;
  background-image: url(../assets/img/down-chevron-primary.svg);
  background-position: right 1rem center;
  background-repeat: no-repeat;
  background-size: 26px 26px; // using pixels to prevent blurry icon in IE11
  background-color: #fff;
  &:disabled {
    background-image: url(../assets/img/down-chevron-primary-disabled.svg);
  }
  &::-ms-expand {
    display: none;
  }
  &.usdt-select-triangle {
    background-image: url(../assets/img/down-triangle.svg);
    background-size: 14px 14px; // using pixels to prevent blurry icon in IE11
    padding-right: 2.2rem;
  }
  option {
    text-transform:none;
  }
  &.select-small {
    padding: 0.3rem .75rem;
  }
  &.action-outline {
    background-color: transparent;
    color: $color-cool-blue;
    border-color: $color-cool-blue;
    border-width: 2px;
    &.usdt-select-triangle {
      background-image: url(../assets/img/down-triangle-cool-blue.svg);
    }
  }
}

[type=checkbox], [type=radio] {
  padding: 0;
  width: auto;
}

.usdt-input-error {
  input,
  textarea,
  select {
    border: solid 2px $color-red-dark;
  }
}


.usdt-input-error-label {
  display: block;
  font-weight: 700;
}
.usdt-input-error-message {
  color: $color-red-dark;
  display: block;
  font-weight: 700;
  padding-bottom: 3px;
  padding-top: 3px;
}
.usdt-input-error {
    border-left: 4px solid $color-red-dark;
    margin-top: 1rem;
    padding-left: 1rem;
    position: relative;
    right: 1rem;
}

.usdt-search-form {
  @include flex($align-middle: false, $space-between: false, $no-wrap: true);
  .usdt-search-input {
    margin: 0;
    padding: 0.5rem 1rem;
    padding-right: 3rem;
  }
  .usdt-search-button {
    background-color: #fff;
    border: solid 1px $color-gray;
    margin: 0;
    border-radius: 0 3rem 3rem 0;
    border-left: 0;
    padding: 0 1.5rem;
    background-image: url(../assets/img/search.svg);
    background-position: 50%;
    background-size: 30px 30px; // Using pixels to prevent blurry svg icons in IE11
    background-repeat: no-repeat;
    width: 1rem;
    margin-left:-3rem;
  }

}

.usdt-app-search-block {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: $color-gray-lightest;
  align-items: center;
  .usdt-search-input {
    max-width: 380px;
  }
}

.is-required {
  color: $color-red;
}