input,
textarea,
select {
  appearance: none;
  border: 1px solid $color-gray;
  border-radius: 3rem;
  box-sizing: border-box;
  color: #212121;
  display: block;
  line-height: 1.3;
  margin: 0.2em 0;
  max-width: 46rem;
  padding: 0.6rem 0.7em;
  width: 100%;
  &:focus {
    outline: none;
    box-shadow: 0px 0px 6px rgba(3, 169, 244, 1);
  }
  &.usdt-input-success {
    border: solid 2px $color-green;
  }
}

textarea {
  border-radius: 0;
  height: 10rem;
}

label {
  display: block;
  margin-top: 1.5rem;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
    appearance:none;
    padding: .6rem 1rem;
    background-image: url(../assets/img/down-chevron-primary.svg);
  background-position: right 1rem center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  &::-ms-expand {
    display: none;
  }
  &.usdt-select-triangle {
    background-image: url(../assets/img/down-triangle.svg);
    background-size: 0.8rem;
    padding-right: 2.2rem;
  }
  option {
    text-transform:none;
  }
}
.usdt-input-error {
  input,
  textarea,
  select {
    border: solid 2px $color-red-dark;
  }
}


.usdt-input-error-label {
  display: block;
  font-weight: 700;
}
.usdt-input-error-message {
  color: $color-red-dark;
  display: block;
  font-weight: 700;
  padding-bottom: 3px;
  padding-top: 3px;
}
.usdt-input-error {
    border-left: 4px solid $color-red-dark;
    margin-top: 1rem;
    padding-left: 1rem;
    position: relative;
    right: 1rem;
}

.usdt-search-form {
  @include flex($align-middle: false, $space-between: false, $no-wrap: true);
  .usdt-search-input {
    margin: 0;
    border-radius: 3rem 0 0 3rem;
    border-right: none;
    padding: 2px 1rem;
  }
  .usdt-search-button {
    background-color: #fff;
    border: solid 1px $color-gray;
    margin: 0;
    border-radius: 0 3rem 3rem 0;
    border-left: 0;
    padding: 1rem 1.5rem;
    background-image: url(../assets/img/search.svg);
    background-position: 50%;
    background-size: 60% auto;
    background-repeat: no-repeat;
  }
}