/*GRID*/
.usdt-grid,
.usdt-grid-full {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.usdt-grid::after,
.usdt-grid-full::after {
  clear: both;
  content: "";
  display: block;
}

.usdt-grid {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

@media screen and (min-width: 600px) {
  .usdt-grid {
    padding-right: 3rem;
    padding-left: 3rem;
    &::before, &::after {
      content: none;
    }
    @include flex($align-middle:false, $space-between:true, $no-wrap:false);
    
  }
  .usdt-grid-full {
    @include flex($align-middle:false, $space-between:true, $no-wrap:false);
    &::before, &::after {
      content: none;
    }
  }
  .usdt-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.usdt-grid-full {
  padding: 0;
}


// COLUMNS
@media screen and (min-width: 600px) {
  .usdt-col-one-half {
    width: 48.5%;
  }
  .usdt-col-two-thirds {
    width: 65.5%;
  }
  .usdt-col-one-third {
    width: 31.5%;
  }
  .usdt-auto-grid {
    .usdt-col {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
    .usdt-col-one-half {
      width: 50%;
    }
    .usdt-col-two-thirds {
      width: 66.666%;
    }
    .usdt-col-one-third {
      width: 33.333%;
    }
    .usdt-row {
      @include flex($align-middle:false, $space-between:true, $no-wrap:false);
    }
  }
}
