/*GRID*/
.usdt-grid,
.usdt-grid-full {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.usdt-grid::after,
.usdt-grid-full::after {
  clear: both;
  content: "";
  display: block;
}

.usdt-grid {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.usdt-section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .usdt-grid {
    padding-right: 3rem;
    padding-left: 3rem;
    flex-basis: 100%;
    &::before, &::after {
      content: none;
    }
    @include flex($align-middle:false, $space-between:true, $no-wrap:false);
    &.grid-center {
      justify-content: center;
    }
  }
  .usdt-grid-full {
    @include flex($align-middle:false, $space-between:true, $no-wrap:false);
    flex-basis: 100%;
    &::before, &::after {
      content: none;
    }
    &.grid-center {
      justify-content: center;
    }
  }
  .usdt-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.usdt-app-section {
  padding: 3rem 4rem;
  &.secondary {
    background-color: $color-gray-lightest-lite;
  }
  @media screen and (max-width:1200px){
    padding: 1rem 2rem;
  }
  @media screen and (max-width:767px){
    padding: .5rem 0;
  }
}

.usdt-grid-full {
  padding: 0;
  max-width: none;
}


// COLUMNS
.usdt-auto-grid {
  *[class^="usdt-col-"], .usdt-col {
    padding-left: 0.95rem;
    padding-right: 0.95rem;
  }
}
@media screen and (min-width: 768px) {
  .usdt-col-one-half {
    width: 48.5%;
  }
  .usdt-col-two-thirds {
    width: 65.5%;
  }
  .usdt-col-one-third {
    width: 31.5%;
  }
  .usdt-auto-grid {
    .usdt-col {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      padding-left: 0.95rem;
      padding-right: 0.95rem;
    }
    
    .usdt-col-full {
      width: 100%;
    }
    .usdt-col-one-half {
      width: 50%;
    }
    .usdt-col-four-fifths {
      width: 80%;
    }
    .usdt-col-three-fourths {
      width: 75%;
    }
    .usdt-col-two-thirds {
      width: 66.666%;
    }
    .usdt-col-three-fifths {
      width: 60%;
    }
    .usdt-col-two-fifths {
      width: 40%;
    }
    .usdt-col-one-third {
      width: 33.333%;
    }
    .usdt-col-one-fourth {
      width: 25%;
    }
    .usdt-col-one-fifth {
      width: 20%;
    }
    .usdt-col-one-eighth {
      width: 12.5%;
    }
    .usdt-col-one-twelfth {
      width: 8.333%;
    }
    .usdt-row {
      @include flex($align-middle:false, $space-between:true, $no-wrap:false);
      flex-basis: 100%; // This is necessary ensure the row breaks from a column based layout
      max-width: 100%;

      &.no-gutters {
        *[class^="usdt-col-"], .usdt-col {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .usdt-auto-grid {
    *[class^="usdt-col-"], .usdt-col {
      padding-left: 3.5vw;
      padding-right: 3.5vw;
    }
  }
}

.usdt-app-grid {
  display: flex;
  flex-flow: nowrap;
  @media screen and (max-width: 1023px) {
    flex-direction: column;
  }
}
