@mixin flex($align-middle, $space-between, $no-wrap) {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  @if $align-middle {
    align-items: center;
  }
  @if $space-between {
    justify-content: space-between;
  }
  @if $no-wrap{
    flex-wrap: nowrap;
  }
}

@mixin page-padding {
  padding: 0 1rem;
  @media screen and (min-width: 600px) {
    padding: 0 2rem;
  }
}

@mixin header-padding {
  padding: 0 1rem;
}

.hidden-mobile {
  @media screen and (max-width: 767px) {
    display:none !important;
  }
}

.hidden {
  display: none;
}

.text-right {
  text-align: right;
}