@mixin flex($align-middle, $space-between, $no-wrap) {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  @if $align-middle {
    align-items: center;
  }
  @if $space-between {
    justify-content: space-between;
  }
  @if $no-wrap{
    flex-wrap: nowrap;
  }
}

@mixin page-padding {
  padding: 0 1rem;
  @media screen and (min-width: 600px) {
    padding: 0 2rem;
  }
}

@mixin header-padding {
  padding: 0 1rem;
}

@mixin box-sizing {
  box-sizing: border-box;
}

// Hiding elements based on screen size
.hidden {
  display: none;
  &-sm {
    @media screen and (max-width: $screen-sm) {
      display:none !important;
    }
  }
  &-md-down {
    @media screen and (max-width: $screen-md) {
      display:none !important;
    }
  }
  &-lg-down {
    @media screen and (max-width: $screen-lg) {
      display:none !important;
    }
  }
  &-xl-down {
    @media screen and (max-width: $screen-xl) {
      display:none !important;
    }
  }
}

.no-margin {
  margin:0 0 0 0;
}
