/*STYLE GUIDE*/
.style-guide {
  background-color: #fff;
  overflow: auto;
  @include page-padding;
  h2 {
    margin: 0;
    font-weight: 300;
  }
  div.codeblock,
  pre.codeblock,
  pre[class*="language-"],
  pre.cke_widget_element {
    background-color: #f7f7f7;
    color: #4e4e4e;
    margin-bottom: 0;
    padding: 0;
    margin-top: 0;
  }
  .page-anchor{
    display:block;
    padding-top: $total-header-height;
    margin-top: $total-header-height * -1;   
  }
  .usdt-grid, .usdt-grid-full {
    &.grid-example {
      //background: $color-gray-lightest;

      *[class^="usdt-col"]{
        background: #fff;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 1rem;
        border:solid 1px $color-gray;
      }
    }
  }
}
