/**
 * Use buttons to signal actions. Buttons should use `<button>` tags, but when necessary can be 
 * used with `<a>` tags by adding the class `usdt-button`.
 *
 * @section Buttons
 * @page Components
 * @example
 * <button>Button</button>
 * <a href="#buttons" class="usdt-button">Link</a>
 * <button disabled>Disabled</button>
 * <button class="usdt-button-small">Small</button>
 * <button class="usdt-button-medium">Medium</button>
 * <button class="usdt-button-large">Large</button>
 * <button class="usdt-button-wide">Wide Button</button>
 */

 /**
 *
 * @section Secondary Buttons
 * @sectionof Buttons
 * @example
 * <button class="secondary">Button</button>
 * <a href="#buttons" class="usdt-button secondary">Link</a>
 * <button class="secondary" disabled>Disabled</button>
 * <button class="usdt-button-small secondary">Small</button>
 * <button class="usdt-button-medium secondary">Medium</button>
 * <button class="usdt-button-large secondary">Large</button>
 * <button class="usdt-button-wide secondary">Wide Button</button>
 */

 /**
 * Action buttons and icon buttons can be used to help draw attention to more important tasks on a page.
 *
 * @section Action & Icon Buttons
 * @sectionof Buttons
 * @example
 * <button class="action">Button</button>
 * <a href="#buttons" class="usdt-button action">Link</a>
 * <button class="action" disabled>Disabled</button>
 * <button class="action"><span class="icon-launch usdt-button-icon"></span>Font Icon</button>
 * <button class="action"><img src="../assets/img/add.svg" alt="add" class="usdt-button-icon" />SVG Icon</button>
 */

 /**
 * Action buttons and icon buttons can be used to help draw attention to more important tasks on a page.
 *
 * @section Secondary Action Buttons
 * @sectionof Buttons
 * @example
 * <button class="action-secondary">Button</button>
 * <a href="#buttons" class="usdt-button action-secondary">Link</a>
 * <button class="action-secondary" disabled>Disabled</button>
 * <button class="action-secondary"><span class="icon-launch usdt-button-icon"></span>Font Icon</button>
 * <button class="action-secondary"><img src="../assets/img/add.svg" alt="add" class="usdt-button-icon" />SVG Icon</button>
 */


/*BUTTONS*/
.usdt-button,
.usdt-button-primary,
.usdt-button:visited,
.usdt-button-primary:visited,
button,
[type="button"],
[type="submit"],
[type="reset"],
[type="image"] {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: $color-primary;
  border: 2px solid transparent;
  border-radius: 2rem;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.06rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
  line-height: 1;
  padding: 1.08rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;

  &:hover {
    background-color: $color-primary-darker;
  }
  &:active {
    background-color: $color-primary-darkest;
  }
  @media screen and (min-width: $small-screen) {
    width: auto;
  }
  &.secondary {
    color: $color-primary;
    background-color: white;
    border: solid 2px $color-primary;
    &:hover {
      color: $color-primary-darker;
      border-color: $color-primary-darker;
    }
    &:active {
      color: $color-primary-darkest;
      border-color: $color-primary-darkest;
    }
    &:disabled {
      opacity: 0.5;
      background-color: white;
    }
  }
  &.primary-light {
    color: $color-primary;
    background-color: #fff;
    border: solid 2px transparent;
    &:hover {
      background-color: #fff;
      color: $color-primary;
    }
    &:active {
      opacity: 0.7;
    }
  }
  &.secondary-light {
    color: #fff;
    background-color: transparent;
    border: solid 2px #fff;
    &:hover {
      background-color: #fff;
      color: $color-primary;
    }
    &:active {
      opacity: 0.7;
    }
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &.action {
    background-color: $color-action;
    &:hover {
      background-color: $color-action-darker;
    }
    &:active {
      background-color: $color-action-darkest;
    }
  }
  &.action-secondary {
    background-color: $color-cool-blue;
    &:hover {
      background-color: $color-cool-blue-dark;
    }
    &:active {
      background-color: $color-cool-blue-darkest;
    }
  }
  &.action-outline {
    background-color: transparent;
    color: $color-gray-medium;
    border-color: $color-gray-medium;
    &:hover {
      background-color: transparent;
      color: $color-gray;
      border-color: $color-gray;
    }
    &:active {
      background-color: transparent;
      color: $color-gray-dark;
      border-color: $color-gray-dark;
    }
  }

  &.ui-plus-symbol {
    padding-left: 3.5rem;
    background-image: url(../assets/img/add.svg);
    background-position: left 1.2rem center;
    background-repeat: no-repeat;
    background-size: 24px 24px; // using pixels to fix blurry svg in IE11
    &.usdt-button-big {
      padding-left: 4rem;
    }
    &.usdt-button-small {
      padding-left: 2.6rem;
    }
    &.usdt-button-medium {
      padding-left: 3.4rem;
    }
  }
  &.ui-down-triangle {
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-image: url(../assets/img/down-triangle.svg);
    background-size: 14px 14px; // using pixels to fix blurry svg in IE11
    padding-right: 2.2rem;
  }
}
.usdt-button-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  vertical-align: top;
  display: inline-block;
}
.usdt-button-large, .usdt-button-big {
  font-size: 1.45rem;
  padding: 1.2rem 3rem;
  border-radius: 5rem;
}
.usdt-button-medium {
  font-size: 1rem;
  padding: 0.9rem 2rem;
  border-radius: 3.5rem;
}
.usdt-button-small {
  font-size: 0.95rem;
  padding: 0.54rem 1.5rem;
  border-radius: 2rem;
}

.usdt-button-wide {
  @media screen and (min-width: $screen-md) {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

// UI buttons
.ui-button-round {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin-top: 0.5em;
    margin-right: 0.25em;
    margin-bottom: 0.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    border: solid 3px $color-gray-medium;
    width: 2rem;
    height: 2rem;
    padding: .35rem;
    vertical-align: bottom;
    background-color: transparent;
    color: $color-gray-medium;
  &.primary-action {
    border-color: $color-cool-blue;
    color: $color-cool-blue;
  }
  &.delete-action {
    border-color: $color-red-dark;
    color: $color-red-dark;
  }
  &:hover {
    background-color: transparent;
  }
}

// Icon Buttons no background color
.usdt-icon-button {
  background-color: transparent;
  color: $color-gray-medium;
  padding: 0 0;
  font-size: 1.3rem;
  border-radius: 0;
  margin: 0 5px 0 0;
  &:hover {
    background-color: transparent;
  }
  .favorite {
    color: $color-red;
  }
  .launch {
    color: $color-green;
  }
}
