
/* Footer */

/**
 * Footers serve site visitors who arrive at the bottom of a page without finding what they want.
 *
 * ## Secondary Footer
 * If you need extra margin above the footer, you can add the class `footer-push` to add more spacing
 * from the section above.
 *
 * @section Footers
 * @page Components
 * @example
 * <!-- Secondary Footer with languages, social media icons, and push class -->
 * <section class="usdt-grid-container-fluid usdt-secondary-footer footer-push">
 *      <nav class="usdt-row">
 *          <div class="usdt-col-md-9">
 *              <ul class="lang-menu footer-links">
 *                   <li><a href="https://www.treasury.gov/lan/ara" lang="ar" title="Arabic">العربية</a></li>
 *                   <li><a href="https://www.treasury.gov/lan/ch" lang="zh" title="Chinese">中文</a></li>
 *                   <li><a href="https://www.treasury.gov/lan/es" lang="es" title="Spanish">Español</a></li>
 *                   <li><a href="https://www.treasury.gov/lan/kor" lang="ko" title="Korean">한국어</a></li>
 *                   <li><a href="https://www.treasury.gov/lan/tag" lang="tl" title="Tagalog">Tagalog</a></li>
 *                   <li><a href="https://www.treasury.gov/lan/viet" lang="vi" title="Vietnamese">TiếngViệt</a></li>
 *              </ul>
 *              <ul class="footer-links">
 *                  <li><a href="https://www.treasury.gov/SitePolicies/Pages/privacy.aspx">Privacy Policy</a></li>
 *                  <li><a href="https://www.treasury.gov/SitePolicies/Pages/Google-Privacy-Information.aspx">Google Privacy</a></li>
 *                  <li><a href="https://www.treasury.gov/privacy/Pages/default.aspx">Privacy Act</a></li>
 *                  <li><a href="https://www.treasury.gov/Pages/site-map.aspx" title="Site Map">Site Map</a></li>
 *                  <li><a href="https://www.treasury.gov/SitePolicies/Pages/site-policy.aspx" title="Site Policies and Notices">Site Policies and Notices</a></li>
 *                  <li><a href="https://www.treasury.gov/resource-center/faqs/Pages/default.aspx" title="FAQs">FAQs</a></li>
 *                  <li><a href="https://www.treasury.gov/pages/tgovproblemsfeedbackform.aspx" title="Feedback">Feedback</a></li>
 *                  <li><a href="https://www.treasury.gov/careers/Pages/default.aspx" title="Careers">Careers</a></li>
 *                  <li><a href="https://www.treasury.gov/accessibility" title="Accessibility">Accessibility</a></li>
 *               </ul>
 *              <div class="site-plugins">Required Plug-ins <a href="http://get.adobe.com/reader/" class="external">Adobe&reg; Reader&reg;</a>, <a href="http://www.adobe.com/go/getflashplayer" class="external">Adobe&reg; Flash Player</a>, <a href="https://www.microsoft.com/en-us/download/details.aspx?id=10" class="external">MS Excel Viewer</a></div>
 *           </div>
 *           <div class="social-icons usdt-col-md-3">
 *              <ul>
 *                  <li class="twitter first"><a title="twitter" href="https://twitter.com/USTreasury" class="external"><span>Twitter</span> </a></li>
 *                  <li class="facebook"><a title="facebook" href="https://facebook.com/ustreasury" class="external"><span>Facebook</span></a></li>
 *              </ul>
 *          </div>
 *      </nav>              
 * </section>
 */

/**
 * For a thinner footer, you can add the `footer-thin` class to reduce to top and bottom padding.
 * @section Thin Secondary Footer
 * @sectionof Footers
 * @example
 * <!-- Secondary footer thin example -->
 * <section class="usdt-grid-container-fluid usdt-secondary-footer footer-thin">
 *  <nav class="usdt-row">
 *      <div class="usdt-col">
 *          <ul class="footer-links">
 *              <li><a href="#footers">Privacy Policy</a></li>
 *              <li><a href="#footers">Site Policies and Notices</a></li>
 *              <li><a href="#footers">Contact Us</a></li>
 *          </ul>
 *      </div>
 *  </nav>
 * </section>
 */

.usdt-secondary-footer {
    background-color: $color-blue-darkest-2;
    padding: 2rem 1.75rem;
    font-size: 0.9rem;
    font-weight: 300;
    color: #fff;
   
    &.footer-push {
        margin-top: 2rem;
    }
    &.footer-thin {
        padding: 1rem 1.75rem;
    }
    .footer-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.25rem 0;
        padding:0;
        li {
            list-style: none;

            &::after {
                content: ' \2022 ';
                padding: 0 5px;
                color: #fff;
            }
        &:last-child {
            margin-right: 0;
            &::after {
                content:'';
                padding:0;
                }
            }
        a:link, a:visited {
            color: white;
            text-decoration: none;
            opacity: 0.6;
            }
        a:hover {
            text-decoration: underline;
            }
        }

        &.lang-menu {
            margin: 0;
            padding: 0;
            li {
                margin: 0;
                &::after {
                    padding: 0 5px;
                    content: ' | ';
                    color: #fff;

                }
                &:last-child::after {
                    content: '';
                    padding: 0;
                }
                a {
                    opacity: 0.9;
                }
            }
        }
    }
    .site-plugins {
        opacity: 0.6;
        font-style: italic;
        color: #fff;
        margin-top:0.75rem;

        a, a:hover, a:visited {
            color:#fff;
        }
    }
    .social-icons {
        text-align: right;
        display:flex;
        align-items: center;
        align-content: right;
        justify-content: flex-end;

        ul {
            margin: 0;
            padding: 0;
                    
            li {
                margin: 0;
                vertical-align: middle;
                display: inline-block;

                a {
                    margin-right: 10px;
                    vertical-align: middle;
                    opacity: 1;
                    width: 36px;
                    height: 36px;
                    display:block;
                    
                    span {
                        display: none;
                    }
                }
                &.twitter a {
                    background: url(../assets/img/twitter.png) 0 -36px no-repeat;
                    &:hover {
                        background-position: 0 1px!important;
                    }
                }
                &.facebook a {
                    background: url(../assets/img/facebook.png) 0 -36px no-repeat;
                    &:hover {
                        background-position: 0 0px!important;
                    }
                }
            }
        
        }

    }

}
