/* Header */

/**
 * Headers help users identify where they are and provide a quick, organized way  to reach 
 * the main sections of a website. Our headers include branding to identify the site.
 *
 *
 * @section Headers
 * @page Components
 * @example
 * <!-- Header example -->
 * <div class="usdt-header header-lg usdt-grid-container-fluid">
 *  <div class="usdt-row space-between align-middle">
 *    <h1 class="usdt-logo no-bg-logo usdt-col">
 *      <a href="#headers"><img src="../assets/img/seal.svg" alt="Seal of the U.S. Department of the Treasury - 1789" height="64" width="64">U.S. DEPARTMENT OF THE TREASURY</a>
 *    </h1>
 *   </div>
 * </div>
 */

.usdt-header {
  background: $color-primary;
  border-bottom: none;
  text-align: left;
  height: $header-height;
  width: 100%;
  @include header-padding;
  @include flex($align-middle: true, $space-between: true, $no-wrap: false);
  &.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;  
  }
  &.header-lg {
    height: auto;
  }
  .usdt-logo {
    font-family: $font-serif;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    background: url(../assets/img/logo.svg) 0px center no-repeat;
    background-size: 44px 44px; // using pixels to fix blurry svg in IE11
    padding-left: 3.25rem;
    margin:0;
    margin-left: $grid-gutter;
    @media screen and (min-width: $screen-sm){
      padding-top: 20px;
      padding-bottom: 20px;
    }

    a {
      text-decoration: none;
      color: #fff;
      font-family: $font-serif;
    }
  }
  .usdt-logo {
    &.no-bg-logo  {
        background-image: none;
        padding-right: $grid-gutter;
        padding-left: $grid-gutter;
        display: flex;
        align-items: center;
        font-size: 1rem;
        margin:0;
        @media screen and (min-width: $screen-sm){
          font-size: 1.8rem;
        }

        a {
          display: flex;
          align-items: center;
        }

        img {
          vertical-align: middle;
          margin-right: 0.8rem;
        }
    }
  }

  .login-section {
    display: flex;
    align-items: center;
    
    .user-name {
      color: #fff;
      @include uppercase($spacing: true, $bold: true);
      margin-right: 1rem;
    }
  }
  .logo-slogan {
    font-family: $font-sans;
    font-size: 0.6rem;
    font-weight: 600;
    display: block;
  }
}
.usdt-header-fixed {
  @media screen and (min-width: $screen-lg) {
    margin-top: $header-height;
  }

}
.usdt-sub-header-fixed {
  @media screen and (min-width: $screen-lg) {
    margin-top: $header-height + $sub-header-height;
  }
}
.header-fixed {
  @media screen and (min-width: $screen-lg) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
}

.usdt-sub-header {
  height: $sub-header-height;
  background: $color-gray-lightest;
  @include header-padding;
  @include flex($align-middle: true, $space-between: true, $no-wrap: false);
}

/* US Government Official Site Banner */
.usa-gov-header {
  height: 40px;
  background: url(../assets/img/superheader.png) center center no-repeat #fff;
  background-size: cover;
  @include header-padding;
  @include flex($align-middle: true, $space-between: true, $no-wrap: false);

  .header-title {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 0.82rem;
    color: $color-gray;
    display: flex;
    align-items: center;
  }
  .header-links {
    ul {
      list-style: none;
      padding:0;
      margin:0;
      font-size: 0.82rem;
      li {
        display: inline-block;
        font-family: $font-serif;
        a {
          display: block;
          text-align: center;
          margin-left: 13px;
          padding: 11px 14px;
          color: $color-gray-dark;
          text-decoration: none;
          transition: background-color .3s;
          font-family: $font-serif;

          &:hover, &:focus {
            text-decoration: underline;
            background-color: rgba(0,0,0,.1);
          }
        }
      }
    }
  }
  .usa-flag-icon {
    width: 21px;
    vertical-align: middle;
    margin-right: 7px;
  }
}

/**
 * We recommend that all federal government sites include the “official government site” banner and a logo or site name. 
 * The banner helps people identify that your organization is part of the government, while the logo or site name helps 
 * visitors understand what your site is and what it does.
 *
 *
 * @section US Government Official Site Banner
 * @sectionof Headers
 * @example
 * <!-- US Government Official Site Banner  -->
 * <div class="usa-gov-header usdt-grid-container-fluid">
 *  <div class="usdt-row space-between align-middle">
 *    <div class="header-title usdt-col-5">
 *      <img class="usa-flag-icon" src="../assets/img/usflag.png" alt="U.S. flag"> An official website of the United States Government
 *    </div>
 *    <div class="header-links usdt-col-7">
 *      <ul class="text-right">
 *        <li><a href="#">Accessibility</a></li>
 *        <li><a href="#">Languages</a></li>
 *        <li><a href="#">Contact</a></li>
 *        <li><a href="#">Log In</a></li>
 *      </ul>
 *    </div>
 *   </div>
 * </div>
 */


