.usdt-header {
  background: $color-primary;
  border-bottom: none;
  text-align: left;
  height: $header-height;
  width: 100%;
  @include header-padding;
  @include flex($align-middle: true, $space-between: true, $no-wrap: false);
  &.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  .usdt-logo a {
    font-family: $font-serif;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    background: url(../assets/img/logo.svg) 0px center no-repeat;
    background-size: 44px 44px; // using pixels to fix blurry svg in IE11
    padding-left: 3.25rem;
  }
  .usdt-logo {
    &.no-bg-logo a {
        background-image: none;
        padding: 0;
        display: flex;
        align-items: center;
        font-size: 1.7rem;

        img {
          vertical-align: middle;
          margin-right: 0.8rem;
        }
    }
  }

  .login-section {
    display: flex;
    align-items: center;
    
    .user-name {
      color: #fff;
      @include uppercase($spacing: true, $bold: true);
      margin-right: 1rem;
    }
  }
  .logo-slogan {
    font-family: $font-sans;
    font-size: 0.6rem;
    font-weight: 600;
    display: block;
  }
}
.usdt-header-fixed {
  @media screen and (min-width: $screen-lg) {
    margin-top: $header-height;
  }

}
.usdt-sub-header-fixed {
  @media screen and (min-width: $screen-lg) {
    margin-top: $header-height + $sub-header-height;
  }
}
.header-fixed {
  @media screen and (min-width: $screen-lg) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
}

.usdt-sub-header {
  height: $sub-header-height;
  background: $color-gray-lightest;
  @include header-padding;
  @include flex($align-middle: true, $space-between: true, $no-wrap: false);
}
