@mixin uppercase($spacing, $bold) {
    text-transform: uppercase;
  @if $spacing {
    letter-spacing: 0.1rem; 
  }
  @if $bold {
    font-weight: $font-bold;
  }
}
/*TYPOGRAPHY*/
* {
  font-family: $font-sans;
}

html {
  font-size: 100%;
  font-family: $font-sans;
}

body {
  font-size: 17px;
}

p {
  margin-bottom: 1em;
  margin-top: 1em;
}

a {
  color: $color-primary;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-serif;
  line-height: 1.3;
  margin: 1em 0;
  color: $color-gray-dark;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
}
h2 {
  font-size: 1.8rem;
  font-weight: 300;
}
h3 {
  font-size: 1.6rem;
  font-weight: 300;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size:1rem;
}
h6{
  font-size:.8rem;
  font-family: $font-sans;
}

.usdt-heading-alt {
  border-bottom: solid 1px $color-gray-light;
}

.usdt-lead-statement {
  font-family: $font-sans;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.45;
  margin: 1.3rem 0;
  max-width: 77rem;
}

.usdt-site-subheading {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    color: #5b616b;
    display: block;
    letter-spacing: 0.5px;
    margin-bottom: 0.2rem;
    margin-top: 1rem;
}

.usdt-section-heading {
    font-family: $font-sans;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.18;
    font-weight: bold;
    font-size: 1.4rem;
}
.usdt-sub-section-heading {
  font-family: $font-sans;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.18;
  font-weight: bold;
  font-size: 1rem;
}

.usdt-font-sans {
  font-family: $font-sans !important;
}
.usdt-font-serif {
  font-family: $font-serif !important;
}

.text-huge {
  font-size: 7rem;
}

.bold {
  &-500 {
    font-weight: 500;
  }
  &-600 {
    font-weight: 600;
  }
  &-700 {
    font-weight: 700;
  }
  &-800 {
    font-weight: 800;
  }
  &-900 {
    font-weight: 900;
  }
}
.text-left {
  text-align: left;
  justify-content: flex-start;
  @media screen and (min-width: $screen-sm){
    &-sm{
      text-align: left;
      justify-content: flex-start;
    }
  }
  @media screen and (min-width: $screen-md){
    &-md{
      text-align: left;
      justify-content: flex-start;
    }
  }
  @media screen and (min-width: $screen-lg){
    &-lg{
      text-align: left;
      justify-content: flex-start;
    }
  }
  @media screen and (min-width: $screen-xl){
    &-xl{
      text-align: left;
      justify-content: flex-start;
    }
  }
}
.text-center {
  text-align: center;
  justify-content: center;
  @media screen and (min-width: $screen-sm){
    &-sm{
      text-align: center;
      justify-content: center;
    }
  }
  @media screen and (min-width: $screen-md){
    &-md{
      text-align: center;
      justify-content: center;
    }
  }
  @media screen and (min-width: $screen-lg){
    &-lg{
      text-align: center;
      justify-content: center;
    }
  }
  @media screen and (min-width: $screen-xl){
    &-xl{
      text-align: center;
      justify-content: center;
    }
  }
}
.text-right {
  text-align: right;
  justify-content: flex-end;
  @media screen and (min-width: $screen-sm){
    &-sm{
      text-align: right;
      justify-content: flex-end;
    }
  }
  @media screen and (min-width: $screen-md){
    &-md{
      text-align: right;
      justify-content: flex-end;
    }
  }
  @media screen and (min-width: $screen-lg){
    &-lg{
      text-align: right;
      justify-content: flex-end;
    }
  }
  @media screen and (min-width: $screen-xl){
    &-xl{
      text-align: right;
      justify-content: flex-end;
    }
  }
}

.text-white {
  color: #fff;
}

.usdt-unstyled-list {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}